@import "public";

#content-wrap{
  margin-top: 80px;
  @include wrap;
  #content{
    @include content;
    .content-type{
      padding: 40px 0 60px;
      border-bottom:2px dashed #ececec;
    }
    .content-type:last-child{
      border-bottom:0;
    }
    .first-title{
      font-size: 30px;
      color:#666874;
      text-align: center;
    }
    .senond-title{
      font-size: 20px;
      color:#666874;
      text-align: center;
    }
    .sceneItemBox{
      padding-top:30px;
      height:140px;
      .sceneItem{
        float: left;
        height:140px;
        width:242px;
        margin:0 20px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        .buttons{
          p{
            font-size: 12px;
            color:#fff;
            line-height: 18px;
            padding:0 15px;
          }
          .zzTitle{
            font-size: 18px;
            line-height: 32px;
            height:32px;
            text-align: center;
            img{
              height:20px;
              width:124px;
              margin-top:8px;
            }
          }

        }
      }
    }
    .diy{
      height:300px;
    }
  }
}